@use "../../scss/helpers/mixins" as *;

.app-container {
	.loading {
		@include flex(center, center);
		width: 100%;
		height: 50vh;
	}
	.grid-container {
		@include flex(space-between, stretch);
		@include width(xsm) {
			flex-direction: column-reverse;
		}
	}
}
